# Ignorar todo lo del backend que no se necesita en gh-pages
/backend/node_modules/

# Ignorar cualquier otro node_modules
node_modules/

# Archivos comunes innecesarios
.DS_Store
.env
dist/
build/
.vscode/
.idea/
*.log

# Ignorar backend y sus node_modules
/backend/
